{:min-bb-version "0.3.7"
 :paths ["script" "build"]
 :deps {lread/status-line {:git/url "https://github.com/lread/status-line.git"
                           :sha "eace48e2e0fcc65a3986d696fb0b910fa5790a1c"}
        version-clj/version-clj {:mvn/version "2.0.3"}
        wevre/natural-compare {:mvn/version "0.0.10"}
        etaoin/etaoin {:mvn/version "1.1.43"}
        io.github.babashka/neil {:git/tag "v0.3.70" :git/sha "2cdd7c6"}}
 :tasks {:cli helper.cli/base-opts
         download-deps     {:exec-fn download-deps/task     :doc "bring down Clojure deps"}
         dev               {:exec-fn dev-repl/task          :doc "Launch nREPL for development"}
         lint              {:exec-fn lint/task              :doc "lint source code with clj-kondo"}
         clean             {:exec-fn clean/task             :doc "delete generated/cached build work"}
         test-unit         {:exec-fn test-unit/task         :doc "test-doc-block units tests under Clojure"}
         gen               {:exec-fn generate-tests/task    :doc "generate tests from sample docs"}
         gen-to-expected   {:exec-fn gen-to-expected/task   :doc "generate tests from sample docs to the expected result"}
         test-gen-kaocha   {:exec-fn test-gen-kaocha/task   :doc "use kaocha to run generated tests"}
         test-gen-clj      {:exec-fn test-gen-clj/task      :doc "use cognitect test-runner to run generated tests"}
         test-gen-cljs     {:exec-fn test-gen-cljs/task     :doc "use cljs-test-runner to run generated tests"}
         test-gen-all      {:exec-fn test-gen-all/task      :doc "run generated tests under all platforms"}
         test-integration  {:exec-fn test-integration/task  :doc "verify that generated tests match last verified run"} 
         outdated          {:exec-fn outdated/task          :doc "report on outdated Clojure dependencies"}
         doc-update-readme {:exec-fn doc-update-readme/task :doc "honour our contributors in README"}
         cljdoc-preview    {:cmd {"start"  {:exec-fn cljdoc-preview/start }
                                  "ingest" {:exec-fn cljdoc-preview/ingest }
                                  "view"   {:exec-fn cljdoc-preview/view }
                                  "stop"   {:exec-fn cljdoc-preview/stop }
                                  "status" {:exec-fn cljdoc-preview/status}}
                            :doc "cmds to preview what docs will look like on cljdoc"}
         ;; let's not rely on a random version of neil
         neil              {:task babashka.neil/-main      :doc "Pinned version of babashka/neil (used in scripting)"}
         ci-test           {:exec-fn ci-test/task          :doc "run continuous integration service tests"}
         ci-release        {:cmd {"prep"                  {:exec-fn ci-release/prep}
                                  "deploy-remote"         {:exec-fn ci-release/deploy-remote}
                                  "commit"                {:exec-fn ci-release/commit}
                                  "create-github-release" {:exec-fn ci-release/create-github-release}
                                  "inform-cljdoc"         {:exec-fn ci-release/inform-cljdoc}
                                  "validate"              {:exec-fn ci-release/validate}}
                            :doc "publish a release task"
                            :cli {:epilog ["These commands are expected to be run in order from CI."
                                           "(validate is for local verification)"
                                           "Why the awkward separation?"
                                           "To restrict the exposure of our secrets during deploy workflow."]}}}}
