{:config-paths ^:replace ["lread/status-line" "rewrite-clj/rewrite-clj"]
 :linters
 {:redundant-fn-wrapper {:level :warning} ;; experimental linter, let's give it a go
  :unsorted-required-namespaces {:level :warning}}}
