;; inputs for contributors section of README.adoc
{:contributors
 [{:github-id "sogaiu" :contributions [:feedback]}
  {:github-id "borkdude" :contributions [:feedback]}
  {:github-id "SevereOverfl0w" :contributions [:feedback]}
  {:github-id "PEZ" :contributions [:feedback]}
  {:github-id "seancorfield" :contributions [:inspiration :feedback :testing]}
  {:github-id "uochan" :contributions [:feedback]}
  {:github-id "holyjak" :contributions [:docs]}
  {:github-id "MIJOTHY" :contributions [:feedback :docs]}
  {:github-id "genmeblog" :contributions [:feedback]}
  {:github-id "NoahTheDuke" :contributions [:feedback]}
  {:github-id "mattiuusitalo" :contributions [:feedback :code]}]
 :maintainers
 [{:github-id "lread"
   :contributions [:code]}]}
