name: Release
on:
  workflow_dispatch:

jobs:
  release:
    environment: release

    runs-on: ubuntu-latest
    # I do not know of a way to restrict to the main branch so try to skip the whole job if
    # user selected some other branch from GitHub Actions GUI
    if: github.ref == 'refs/heads/main'

    steps:
    - name: Checkout
      uses: actions/checkout@v5
      with:
        fetch-depth: 0

    - name: Setup Git User so that we can later commit
      uses: fregante/setup-git-user@v2

    - name: Clojure deps cache
      uses: actions/cache@v4
      with:
        path: |
          ~/.m2/repository
          ~/.deps.clj
          ~/.gitlibs
        key: $${ runner.os }}-cljdeps-${{ hashFiles('deps.edn','bb.edn') }}
        restore-keys: $${ runner.os }}-cljdeps-

    - name: Setup Java
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '25'

    - name: Install Clojure Tools
      uses: DeLaGuardo/setup-clojure@13.4
      with:
        bb: 'latest'
        cli: 'latest'

    - name: Tools Versions
      run: |
        echo "bb --version"
        bb --version
        echo "node --version"
        node --version
        echo "java -version"
        java -version
        echo "clojure -Sdescribe"
        clojure -Sdescribe

    - name: Download Clojure Dependencies
      run: bb download-deps

    - name: Release Prep (step 1 of 5)
      run: bb ci-release prep

    - name: Release Deploy (step 2 of 5)
      env:
        CLOJARS_USERNAME: ${{ secrets.CLOJARS_USERNAME }}
        CLOJARS_PASSWORD: ${{ secrets.CLOJARS_PASSWORD }}
      run: bb ci-release deploy-remote

    - name: Release Commit (step 3 of 5)
      run: bb ci-release commit

    - name: Create GitHub Release (step 4 of 5)
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: bb ci-release create-github-release

    - name: Inform Cljdoc (step 5 of 5)
      run: bb ci-release inform-cljdoc
