name: Test
on: [push]
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest ]

    steps:
    #
    # Tell git not to convert newlines on checkout for Windows
    #
    - name: Prepare git (Windows)
      run: git config --global core.autocrlf false
      if: matrix.os == 'windows-latest'

    - name: Checkout
      uses: actions/checkout@v2

    - name: Clojure deps cache
      uses: actions/cache@v2
      with:
        path: |
          ~/.m2/repository
          ~/.gitlibs
        key: $${ runner.os }}-cljdeps-${{ hashFiles('deps.edn') }}
        restore-keys: $${ runner.os }}-cljdeps-

    - name: Setup Java
      uses: actions/setup-java@v1
      with:
        java-version: 11

    #
    # Install Babashka
    #
    - name: Install babashka (windows)
      run: |
       iwr -useb get.scoop.sh | iex
       scoop bucket add scoop-clojure https://github.com/littleli/scoop-clojure
       scoop bucket add extras
       scoop install babashka --independent
       echo "$HOME\scoop\shims" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
      if: matrix.os == 'windows-latest'
    - name: Install Babashka (linux)
      run: curl -s https://raw.githubusercontent.com/borkdude/babashka/master/install | sudo bash
      if: matrix.os == 'ubuntu-latest'

    #
    # Install Clojure
    #
    - name: Install clojure (windows)
      # On windows, deps.clj's deps.exe is used in place of clojure to avoid complexities of official clojure install
      run: |
       PowerShell -Command "iwr -useb https://raw.githubusercontent.com/borkdude/deps.clj/master/install.ps1 | iex"
       Rename-Item $HOME\deps.clj\deps.exe clojure.exe
       echo "$HOME\deps.clj" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
      if: matrix.os == 'windows-latest'
    - name: Install Clojure (linux)
      run: curl -s https://download.clojure.org/install/linux-install-1.10.2.796.sh | sudo bash
      if: matrix.os == 'ubuntu-latest'

    - name: Bring down ClojureTools early
      run: clojure -Sdescribe

    - name: Tools Versions
      run: |
        echo "bb --version"
        bb --version
        echo "node --version"
        node --version
        echo "java -version"
        java -version
        echo "clojure -Sdescribe"
        clojure -Sdescribe

    - name: Download Clojure Dependencies
      run: clojure -Spath

    - name: Run CI Tests
      run: bb ./script/ci_tests.clj
